.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.friend-item {
  border: 1px solid grey;
  margin: 1rem 2rem 0 2rem;
  padding: 1rem;
  width: 50%;
  border-radius: 3px;
}
